@using Web.Data.Timeline
@using Web.Enumerations
@using Web.Miscellaneous
@using Web.Models

@model TimelineDetailViewModel

@{
    ViewData["Title"] = "Timeline Details";
}

@using (Html.BeginForm("SaveTimelineDetail", "Timeline", FormMethod.Post))
{
    <h1>
        @ViewData["Title"]
    </h1>

    <hr />

    @if (Model != null)
    {
        <div class="row">
            <label class="col-xl-2 label-text">
                Title
            </label>

            <div class="col-xl-4">
                @Html.TextBoxFor(
        Model => Model.Time,
        Model.Time,
        new {
        @class="form-control",
        }
        )
            </div>
        </div>

        <br />

        @Html.HiddenFor(
        Model => Model.TimelineID,
        Model.TimelineID
    )
    }

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">
                Save
            </button>

            @Html.ActionLink(
        "Back", "Index", "Timeline",
        new {},
        new {
        @class = "btn btn-secondary",
        })
        </div>
    </div>
}